.newuser{
  flex: 4;
  margin-left: 10px;
}
.newuserForm {
  display: flex;
  flex-wrap: wrap;
}
.newuserFormItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
.newuserFormItem>label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.newuserFormItem>input {
  height: 20px;
  padding: 10px;
  border: 1px solid rgb(94, 93, 93);
  border-radius: 5px;
}
.newuserGender > input{
  margin-top: 15px;

}
.newuserGender>label{
  margin: 10px;
  font-size: 15px;
  color: #555;
}
.newuserSelect{
  height: 40px;
  border-radius: 5px;
}
.newUserButton{
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}